@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barrio&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif !important;
}

.linkCadastro,
.linkLogin {
  color: #fff !important;
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}

button:hover {
  cursor: pointer !important;
}

.aviso-email-cadastrado {
  color: #fff;
  margin-bottom: 1rem;
}
